BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: LeftWithLastLine

AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AllowShortNamespacesOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortCompoundRequirementOnASingleLine: true

BinPackArguments: false
BinPackParameters: false

BreakConstructorInitializers: AfterColon

ColumnLimit: 120
