AlignAfterOpenBracket: DontAlign
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BasedOnStyle: Google
BreakConstructorInitializers: AfterColon
ColumnLimit: 120
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
IndentPPDirectives: None
IndentWidth: 4
IncludeBlocks: Merge
SortIncludes: CaseSensitive
NamespaceIndentation: All
RequiresClausePosition: SingleLine
RequiresExpressionIndentation: OuterScope
UseTab: Never
