# VSCode Development
.cache/
node_modules/

# Build Outputs
build/
dist/

# Profiling Outputs
valgrind.out.*
callgrind.out.*

# TS Outputs
*.tsbuildinfo

# Environment Files
.env

# Platform Files
.DS_Store
