/*----------  Vendor Styles  ----------*/

@import 'tailwindcss';

@import 'fumadocs-ui/css/solar.css';
@import 'fumadocs-ui/css/preset.css';

/*----------  Theme Styles  ----------*/

@theme {
    --color-brand: hsl(27, 50%, 45%);
    --color-brand-foreground: white;
    --color-brand-secondary: #c6bb58;
    --color-brand-secondary-foreground: #97890c;
    --color-brand-200: hsl(27, 50%, 60%);
}

.dark {
    --color-brand: hsl(27, 50%, 45%);
    --color-brand-foreground: white;
    --color-brand-secondary: #fc7744;
    --color-brand-secondary-foreground: #521700;
    --color-brand-200: hsl(27, 50%, 35%);
}

/*----------  Shiki Styles  ----------*/

.shiki .highlighted-deprecated {
    background-color: unset !important;
    border: unset !important;
    padding: unset !important;
    margin-block: unset !important;
    border-radius: unset !important;
    text-decoration: line-through;
}

/*----------  Override Styles  ----------*/

@layer utilities {
    .prose :where(li):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
        margin-top: 0;
        margin-bottom: 0;
    }
}
