/*----------  Vendor Styles  ----------*/

@import 'tailwindcss';

@import '@fumadocs/base-ui/css/solar.css';
@import '@fumadocs/base-ui/css/preset.css';

/*----------  Theme Styles  ----------*/

@theme {
    --color-brand: hsl(27, 50%, 45%);
    --color-brand-foreground: white;
    --color-brand-secondary: #c6bb58;
    --color-brand-secondary-foreground: #97890c;
    --color-brand-200: hsl(27, 50%, 60%);
}

.dark {
    --color-brand: hsl(27, 50%, 45%);
    --color-brand-foreground: white;
    --color-brand-secondary: #fc7744;
    --color-brand-secondary-foreground: #521700;
    --color-brand-200: hsl(27, 50%, 35%);
}
